

<!-- Simulate a smartphone / tablet look -->

<!--
<div class="mobile-container">
    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>
</div>
-->

<div class="mobile-container">
    <router-outlet></router-outlet>
</div>
<app-nav-bar></app-nav-bar>

<footer>
    <p> Powered by Youtube </p>
</footer>


<!-- 

Overall Website theme
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar_hor

-->


<!--
<app-genre-entity></app-genre-entity>

<app-genre></app-genre>
<app-library></app-library>

<a routerLink="/genre>Text </a> 

<a routerLink="/detail/{{hero.id}}">

-->

 