
<!-- style="background-color: red" --> 

<!-- Top Navigation Menu -->


<div class="topnav"> 
  <div id="leftbox"> 
    <div class="display-center">
      <a routerLink="/"><i class="fa fa-home fa-2x"></i></a>
    </div>
  </div>  
              
  <div id="middlebox"> 
      <h2> Home </h2>   
  </div> 
              
  <div id = "rightbox"> 
        <a><i class="fa fa-plus fa-2x"></i></a>  
  </div> 
</div> 


<!--
<div class="topnav">
  <div class="nav-section1">
    <a href="#home" class="active">Logo</a>
  </div>
  <div class="nav-section2">
    <h2> Home </h2>
  </div>
  <div class="nav-section1">
    <a href="#home" class="active">Logo</a>
  </div>
</div>
-->
  <!--

  <a href="#home" class="active">Logo</a>
  <div id="myLinks">
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>

  -->
<!--
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
-->