

.topnav {
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: #4CAF50;
  color: white;
}

.active {
  background-color: #4CAF50;
  color: white;
}


#leftbox { 
 float:left;  
 width:20%; 
 height:5%;
 text-align: center;               
} 
#middlebox{ 
  float:left;  
  width:60%; 
  height:5%;
  text-align: center;
} 
#rightbox{ 
  float:right; 
  width:20%; 
  height:5%; 
  text-align: center;
} 

.display-center{
  display: inline;
}